<div class="accordion" style="border-bottom: initial;">
    <div style="padding: 1.5rem 0;">
        <h2 class="h4 accordion__title font-bold">
            {{ section.settings.heading }}
        </h2>
    </div>
    
    {% for block in section.blocks %}
        {% case block.type %}
        {% when 'product_highlight' %}
            <p>Highlight</p>
            {% comment %} <div class="flex ">
                <div class="flex align-items-center" style="flex: 0 0 auto; width: 33%;">
                    {% render 'icon-accordion-lg', icon: block.settings.highlight_icon %}
                    {{ block.settings.highlight_description }}
                </div>
            </div> {% endcomment %}
        {% when '@app' %}
            {% render block %}
        {% endcase %}
    {% endfor %}
</div>

{% schema %}
{
    "name": "Product highlights",
    "tag": "section",
    "class": "page-width spaced-section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Highlights"
        }
    ],
    "blocks": [
        {
            "type": "product_highlight",
            "name": "Product highlight",
            "settings": [
                {
                    "type": "liquid",
                    "id": "highlight_description",
                    "label": "Product highlight"
                }
            ]
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "Product highlights"
        }
    ]
}
{% endschema %}