<div class="accordion" style="border-bottom: initial;">
    <div style="padding: 1.5rem 0;">
        <h2 class="h4 accordion__title font-bold">
            {{ section.settings.heading }}
        </h2>
    </div>
    {{ section.settings.highlight }}
</div>

{% schema %}
{
    "name": "Product highlights",
    "tag": "section",
    "class": "page-width spaced-section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Highlights"
        },
        {
            "type": "html",
            "id": "highlight",
            "label": "Highlight",
            "default": "<ul><li>Item 1</li><li>item 2</li><li>Item 3</li></ul>"
        }
    ],
    "presets": [
        {
            "name": "Product highlights"
        }
    ]
}
{% endschema %}