.s-color-swatch-container > *{
    margin-right: 0;
    padding: 0;
    background-color: #fff;
    z-index: 2;
    position: relative;
}

.s-color-swatch-container .s-color-swatch-pad {
    margin-right: 4px;
}
  
.s-color-swatch-container .s-color-swatch-selected {
    border-color: #111 !important;
}
  
.s-color-swatch-container .s-color-swatch-outer-circle {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 32px;
    height: 32px;
    display: inline-block;
}
  
.s-color-swatch-container .s-color-swatch-outer-circle:not(.s-color-swatch-selected):hover {
    border-color: #d3d3d3 !important;
}
  
.s-color-swatch-container .s-color-swatch-outer-circle .s-color-swatch-inner-circle-border {
    border-radius: 50%;
    height: 22px;
    width: 22px;
    border: 1px solid rgba(0,0,0,.2);
    cursor: pointer;
    display: inline-block;
    margin: 4px;
}