.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mySwiper2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}*/

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 100%;
    width: 100%;
}

.mySwiper {
    height: 600px;
    box-sizing: border-box;
    margin-top: 10px;
    /*margin-right: 10rem;*/
    width: 8rem;
    /*padding: 10px 0;*/
}

.mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    margin-bottom: 2rem;
    border: 1px solid lightgrey;
    height: 75px;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    border: 2px solid black;
    box-shadow: 0 0 10px;
}

@media screen and (min-width: 768px) {
    .mySwiper2 {
        width: 40%
    }
    .mySwiper2 .swiper-slide {
        height: initial;
    }
}